Source: ros-kinetic-ros-wild
Section: misc
Priority: extra
Maintainer: Yuma.M <yuma-m@users.noreply.github.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rospy
Homepage: https://github.com/yuma-m/ros_wild
Standards-Version: 3.9.2

Package: ros-kinetic-ros-wild
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy
Description: The ros_wild package
